# user
UID=1000
GID=1000

# docker
ENVIRONMENT=development
COMPOSE_PROJECT_NAME=c3s-membership
COMPOSE_PROFILES=$ENVIRONMENT
COMPOSE_IGNORE_ORPHANS=True
WORKDIR=/code
DEBUGGER_PTVSD=0
DOCKER_PORTMAP_IP=127.0.0.1
DOCKER_PORTMAP_PORT_SERVER=80
DOCKER_PORTMAP_PORT_MAILHOG=8025

# browser
SELENIUM_GRID_URL="http://browser:4444/wd/hub"
SELENIUM_SCREENSHOTS=1
