# user
UID=1000
GID=1000

# docker
ENVIRONMENT=development
COMPOSE_PROJECT_NAME=c3s-membership
COMPOSE_PROFILES=$ENVIRONMENT
COMPOSE_IGNORE_ORPHANS=True
WORKDIR=/code
DEBUGGER_PTVSD=0
DOCKER_PORTMAP_IP=127.0.0.1
DOCKER_PORTMAP_PORT_SERVER=80
DOCKER_PORTMAP_PORT_MAILHOG=8025

# browser
SELENIUM_GRID_URL="http://browser:4444/wd/hub"
SELENIUM_SCREENSHOTS=1

# membership
MEMBERSHIP_URL="http://0.0.0.0:6543"
MEMBERSHIP_MAIL_HOST=localhost
MEMBERSHIP_MAIL_PORT=25
MEMBERSHIP_MAIL_TO_CONSOLE=true
MEMBERSHIP_DEFAULT_SENDER=membership@example.com
MEMBERSHIP_NOTIFICATION_SENDER=membership@example.com
MEMBERSHIP_STATUS_RECEIVER=membership-status@example.com
MEMBERSHIP_STATUS_RECEIVER_GPGID=A938D04BB2D9AAE1C1CCCA136B12C53270C76DD5
MEMBERSHIP_CERTIFICATE_TEMPLATE=test
MEMBERSHIP_API_AUTH_TOKEN=1234567890ABCDEFGHIJKL
MEMBERSHIP_TICKETING_URL="http://0.0.0.0:6544"
MEMBERSHIP_DEBUG_AUTHORIZATION=false
MEMBERSHIP_DEBUG_NOTFOUND=false
MEMBERSHIP_DEBUG_ROUTEMATCH=true
MEMBERSHIP_DEBUG_TEMPLATES=true
