*.db
*.db*
*.egg-info
*.idea
*.log
*.pyc
*.py~
*.sublime-project
*.sublime-workspace
*.wsgi
*~
.tmp
.coverage
build/
cover/
dist/
docs/_build/
docs/design/
env/
invoices/
utils/
off/
pyramid.pid
python-eggs/
pytz-2014.9-py2.7.egg
static_docs/
.env
screenshots/

# ignore local test settings
nosetests.xml

.coveragerc
