-r requirements_production.txt
-r requirements_staging.txt
-r requirements_testing.txt
debugpy==1.8.17
pdbpp==0.11.7
  fancycompleter==0.11.1
    pyrepl==0.11.4
  Pygments==2.19.2
pyramid_debugtoolbar==4.12.1
  pyramid==2.0.2
    hupper==1.12.1
    plaster==1.1.2
    plaster-pastedeploy==1.0.1
      PasteDeploy==3.1.0
      plaster==1.1.2
    translationstring==1.4
    venusian==3.1.1
    WebOb==1.8.9
    zope.deprecation==6.0
    zope.interface==8.0.1
  pyramid-mako==1.1.0
    pyramid==2.0.2
      hupper==1.12.1
      plaster==1.1.2
      plaster-pastedeploy==1.0.1
        PasteDeploy==3.1.0
        plaster==1.1.2
      translationstring==1.4
      venusian==3.1.1
      WebOb==1.8.9
      zope.deprecation==6.0
      zope.interface==8.0.1
    Mako==1.3.10
      MarkupSafe==3.0.3
  Pygments==2.19.2
